/*

!/.vimrc
!/.tmuxconf
!/.mybashrc
!/.inputrc
!/@run_me_setup_newhome

!/bin
!/m26nvv

## ~/.config
!/.config
/.config/*

!/.config/volumeicon

#!/.config/nvim
#/.config/nvim/lazy-lock.jon

!/.config/i3
!/.config/i3blocks
!/.config/alacritty
!/.config/konsolerc


## ~/.local
!/.local
/.local/*
!/.local/share
/.local/share/*
!/.local/state
/.local/state/*

!/.local/share/fonts
!/.local/share/konsole



