## .gitignore for my home folder /home/myuser/
## ignore all
/**

##
!/.gitignore
!/.vimrc
!/.tmux.conf
!/.mybashrc
!/.inputrc

!/bin
!/bin/*

## neovim
!/.config
!/.config/nvim
!/.config/nvim/*
!/.config/nvim/lua
!/.config/nvim/lua/*
!/.config/nvim/lua/core
!/.config/nvim/lua/core/*
!/.config/nvim/lua/utils
!/.config/nvim/lua/utils/*
!/.config/nvim/lua/plugins
!/.config/nvim/lua/plugins/*
!/.config/nvim/lua/plugins/lsp
!/.config/nvim/lua/plugins/lsp/*
!/.config/nvim/lua/plugins/lsp/langs
!/.config/nvim/lua/plugins/lsp/langs/*
/.config/*/lazy-lock.json


